<% if(locals.isLoggedIn){ %>
  <% console.log('this should be user', user); %>


  <div class="columns is-multiline">
   <% profiles.forEach( (profile, key) => { %>

     <% console.log('broswer id', user.id); %>
     <% console.log('profile id', profile.creator._id); %>

     <% if (user.id.toString() === profile.creator._id.toString()) { %>
       <% console.log('Matched'); %>
       <h1><%= profile.creator._id %></h1>
       <div class="column is-one-third-desktop is-half-tablet">
         <div class="card">
           <div class="card-image">
             <figure class="image is-4by3">
               <img src="<%= profile.image %>" alt="<%= profile.name%>">
             </figure>
           </div>
           <div class="card-content">
             <div class="content">
                 <h4 class="title is-4">
                 <a href="/networks/<%= profile._id %>">
                 <%= profile.name %>
                 </a>
                 </h4>
                 <h6 class="subtitle is-6">Company : <%= profile.company %></h6>
             </div>
           </div>
         </div>
       </div>
     <% }%>


     <% }) %>
  </div>
<% }%>
