<div class=“columns”>
 <div class="column is-half">
   <img src="<%= profile.image %>" alt="<%= profile.company %>">
 </div>
 <div class="is-one-fifth">
   <ul>

    <li>  <strong>Company :</strong>  <%= profile.company %> </li>
    <li>   <strong>Name :</strong>  <%= profile.name %> </li>
    <li>  <strong>Website :</strong>  <%= profile.website %> </li>
    <li>  <strong>Email :</strong>  <%= profile.email %> </li>
  </ul>
  <a href="/networks/<%= profile.id %>/edit">Edit</a>
  <form action="/networks/<%= profile.id %>/" method=“post”>
    <%# <input type=“hidden” name=“_method” value=> %>
    <button name=“button”>Delete Profile</button>

  </form>
 </div>

</div>
