

<div class=“columns”>
 <div class="column is-half">
   <img src="<%= profile.image %>" alt="<%= profile.company %>">
 </div>
 <div class="column is-half">
   <ul>
    <li>  Company <%= profile.company %> </li>
    <li>   Name <%= profile.name %> </li>
    <li>  Website <%= profile.website %> </li>
    <li>  Email <%= profile.email %> </li>
  </ul>
  <a href="/networks/<%= profile.id %>/edit">Edit</a>
  <form action="/networks/<%= profile.id %>/" method=“post”>
    <input type=“hidden” name=“_method” value=>
    <button name=“button”>DELETE</button>

  </form>
 </div>

</div>
